@model List<AcunMedyaAkademiPortfolio.Models.SocialMediaLink>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Sosyal Medya Listesi</h2>

<table class="table table-bordered">

    <tr>
        <td>Platform Adı </td>
        <td>URL</td>
        
    </tr>
    @foreach (var item in Model) // buradaki model ile toblodaki verileri tutyoruz
    {
        <tr>
            <td>@item.SocialMediaLinkId</td>
            <td>@item.PlatformName</td>
            <td>@item.Url</td>

            <br />
            <td><a href="/SocialMediaLink/UpdateSocialMedia/@item.SocialMediaLinkId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/SocialMediaLink/DeleteSocialMedia/@item.SocialMediaLinkId" class="btn btn-danger">Sil</a></td>

        </tr>

    }
</table>
<th><a href="/SocialMediaLink/CreateSocialMedia" class="btn d-block btn-success">Yeni Adres Ekle</a></th>

