@model List<AcunMedyaAkademiPortfolio.Models.TblProject>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Proje Listesi</h2>

<table class="table table-bordered">

    <tr>
        <td>Id</td>
        <td>Proje Adı</td>
        <td>Proje Resmi</td>
        <td>Proje Kategori</td>

    </tr>
    @foreach (var item in Model) // buradaki model ile toblodaki verileri tutyoruz
    {
        <tr>
            <td>@item.ProjectID</td>
            <td>@item.ProjectName</td>
            <td>
                <img src="@item.ProjectImageUrl" alt="Project Image" class="img-thumbnail" style="max-width:75px; max-height:75px;" />
            </td>
            <td>@item.ProjectCategory</td>
            <td><a href="/Project/UpdateProject/@item.ProjectID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Project/DeleteProject/@item.ProjectID" class="btn btn-danger">Sil</a></td>

        </tr>

    }
</table>
<th><a href="/Project/CreateProject" class="btn d-block btn-success">Yeni Proje Ekle</a></th>

