@model AcunMedyaAkademiPortfolio.Models.TblContact



<div class="col-md-8">
    @using (Html.BeginForm("PartialContact", "Default", FormMethod.Post, new { @class = "bg-light p-4 p-md-5 contact-form" }))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "İsminiz" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Konu" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Mesajınız", cols = 30, rows = 7 })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="Gönder" class="btn btn-primary py-3 px-5">
                </div>
            </div>
        </div>
    }
</div>

