@model AcunMedyaAkademiPortfolio.Models.TblTestimonial

@{
    ViewBag.Title = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Referans Güncelleme</h2>
@using (Html.BeginForm("UpdateTestimonial", "Testimonial", FormMethod.Post))
{

    <form method="post">
        <label>Referans idsi</label>
        @Html.TextBoxFor(x => x.TestimonialId, new { @class = "form-control" })
        <br />
        <label>Referans ismi</label>
        @Html.TextBoxFor(x => x.TestimonialName, new { @class = "form-control" })
        <br />
        <label>Referans Mesleği</label>
        @Html.TextBoxFor(x => x.TestimonialTitle, new { @class = "form-control" })
        <br />
        <label>Referans Açıklaması</label>
        @Html.TextBoxFor(x => x.TestimonialDescription, new { @class = "form-control" })
        <br />
        <label>Fotoğraf Yükle</label>
        <input type="file" name="file" class="form-control" />
        <br />
        <button class="btn btn-info">Referansı Güncelle</button>
    </form>
}
